body{
    font-family: Arial;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator{
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px gray;
    width: 300px;
}

#display{
    width: 92%;
    height: 45px;
    margin-bottom: 15px;
    font-size: 20px;
    text-align: right;
    padding: 5px 10px;
    border-radius: 8px;
    border: 2px solid #ccc;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}

button{
    height: 60px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: #e0e0e0;
}

button:hover{
    background: #cfcfcf;
}

.equal{
    background: green;
    color: white;
}

.clear{
    background: red;
    color: white;
    grid-column: span 4;
}
